@model IEnumerable<AllotmentPlanner.Data.ViewModel.CropMaintenanceViewModel>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.cropId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tendId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plantedId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cropName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.tendName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.waterFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tendFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gardenId)
        </th>
        <th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.cropId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tendId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plantedId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cropName)
        </td>*@


        @*@if (DateTime.Now > Convert.ToDateTime(item.Date).AddDays(Convert.ToDouble(item.tendFrequency))){*@
             @Html.ActionLink(item.tendName, "setAsTended", new { controller = "TendAdmin", cropId = item.cropId, tendId = item.tendId, plantedId = item.plantedId })
         @*}*@
        @*@if (item.Date == null)
        {
            @Html.ActionLink(item.tendName, "setAsTended", new { controller = "TendAdmin", cropId = item.cropId, tendId = item.tendId, plantedId = item.plantedId })
        }*@

        @*@if (item.Date != null)
        {
            <td>
                <input type="hidden" name="productItemId" id="productItemId" value="@item.tendName" />
            </td>
        }*@


        @*<td>
        @Html.DisplayFor(modelItem => item.waterFrequency)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tendFrequency)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.gardenId)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
        *@
            </tr>
}

</table>
