@model IEnumerable<AllotmentPlanner.Data.ViewModel.GardenViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.postCode)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gardenID)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AssignedGardener)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.postCode)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gardenID)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.AssignedGardener)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            @Html.ActionLink("Assign Gardener", "AssignGardenertoGarden", new { controller = "GardenAdmin" , id = item.gardenID })


        </td>
    </tr>
}

</table>
