@model IEnumerable<AllotmentPlanner.Data.GardenLocation>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.postCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.postCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
@if (User.IsInRole("Administrator"))
{
    Html.ActionLink("Edit", "EditGardenLocation", new { controller = "GardenAdmin", pcode = item.postCode });
    Html.ActionLink("Deactivate Garden", "DeactivateGardenLocation", new { controller = "GardenAdmin", pcode = item.postCode });
}


@Html.ActionLink("View Gardens at Location", "ViewGardensinLocation", new { pcode = item.postCode })
        </td>
    </tr>
}

</table>
