@model AllotmentPlanner.Data.ViewModel.EditGardenViewModel

@{
    ViewBag.Title = "ViewSelectedCrops";
}

<h2>ViewSelectedCrops</h2>

<div>
    <h4>EditGardenViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GardenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GardenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CropId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GardenSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GardenSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CropName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CropSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarliestPlant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarliestPlant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatestPlant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatestPlant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarliestHarvest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarliestHarvest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastestHarvest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastestHarvest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
