@model AllotmentPlanner.Data.ViewModel.EditGardenViewModel

@{
    ViewBag.Title = "ViewSelectedCrops";
}

<h2>ViewSelectedCrops</h2>

<div>
    <h4>EditGardenViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gardenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gardenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cropId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cropId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gardenSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gardenSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cropName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cropName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cropSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cropSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.earliestPlant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.earliestPlant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latestPlant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latestPlant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.earliestHarvest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.earliestHarvest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastestHarvest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastestHarvest)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
