@model AllotmentPlanner.Data.ViewModel.EditGardenViewModel

@*@using (Html.BeginForm())*@ 
@using (Html.BeginForm("ConfirmCropsToGarden", "GardenAdmin", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add New Crop To Garden</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cropId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.LabelFor(model => model.cropId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.cropId, (List<SelectListItem>)ViewBag.cropList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cropId, "", new { @class = "text-danger" })            
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}