@model IEnumerable<AllotmentPlanner.Data.Crop>

@{
    ViewBag.Title = "List of CropsCrops";
}

<h2>Crops</h2>

<p>
    @Html.ActionLink("Add Crop", "AddCrop", new { controller = "CropAdmin" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cropName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.cropSize)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cropName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.cropSize)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "EditCrop", new { controller = "CropAdmin", id=item.cropId }) |
            @Html.ActionLink("Details", "CropDetails", new { id=item.cropId }) |
            @Html.ActionLink("Delete", "DeleteCrop", new { controller = "CropAdmin", id=item.cropId })
        </td>
    </tr>
}


</table>
@Html.ActionLink("Back to Dashboard", "AdminDashboard", "Home")


