
@{
    ViewBag.Title = "AdminDashboard";
}
<div class="row">
    <div class="col-md-12">
        <h1>Welcome back to Allotment Planner!</h1>
        <p class="lead">From this Dashboard Page you should be able to manage crops, gardens and users. Should be</p>
        <hr class="my-4">
    </div>
</div>

<h2>AdminDashboard</h2>

@Html.ActionLink("View and Edit Crops", "Crops", "Crop")<br />
@Html.ActionLink("View and Edit Tend Actions", "Tends", "Tend")<br />
@Html.ActionLink("View and Edit Gardens", "Gardens", "Garden")<br />
@Html.ActionLink("View and Edit Users (Current unused)", "GetUsers", "Admin")<br />

<h2>Gardener Functionality</h2>

@Html.ActionLink("Add Crops to Garden", "ListSelectedCrops", "Garden")<br />

@Html.ActionLink("View Garden", "GetUserGarden", "Garden")<br />
@Html.ActionLink("View Empty Gardens as User", "UserViewEmptyGardensinLocation", "Garden")<br />

