@{
    ViewBag.Title = "GetRoles";
}

<h2>List of Roles</h2>

@Html.ActionLink("Add User", "Register", new { controller = "Account" })  |
@Html.ActionLink("Users", "GetUsers", "Admin")  |
@Html.ActionLink("User Roles", "GetRoles", "Admin")  |
@Html.ActionLink("Find User Roles", "GetRolesForUser", "Admin")  |
@Html.ActionLink("Manage User Roles", "ManageUserRoles", "Admin")
<br /><br />

@foreach (var role in Model)
{
    <p>
        @role.Name |
        @Html.ActionLink("Edit Role", "EditRole", new { Id = role.Id }) |
        @Html.ActionLink("Delete", "DeleteRole", new { Id = role.Id }) |

    </p>

}
@Html.ActionLink("Add Role", "CreateRole", "Admin")  |


