
@{
    ViewBag.Title = "Users";
}

<h2>List of Users</h2>
@foreach (var user in Model)
{
    <p>
        @user.UserName |
        @Html.ActionLink("Edit", "EditUser", new { Id = user.Id }) |
        @Html.ActionLink("Delete", "DeleteUser", new { Id = user.Id })
    </p>
    }


@Html.ActionLink("Add User", "Register", new { controller = "Account"})

<h3>Other tasks</h3>

@Html.ActionLink("View Current Roles", "GetRoles", "Admin")|
@Html.ActionLink("Assign User to Role", "ManageUserRoles", "Admin")|
@Html.ActionLink("View Current Roles of Users", "GetRolesForUser", "Admin")|



@Html.ActionLink("Back to Dashboard", "AdminDashboard", "Home")










